*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#12664f,#5eb1bf);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.clock{
    
    box-shadow: 1px 1px 3px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 7em 3em;
    
}

.timerNumber{
    
    box-shadow: 1px 1px 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    border-radius: 20px;
    padding: 1em 2.5em;
   
    
}

button{
    padding: 0.5rem 3rem;
    border: none;
    background-color: inherit;
    box-shadow: 1px 1px 3px red;
    border-radius: 20px;
    cursor: pointer;
    
    
}

button:hover {
    transform: scale(1.2);
  }

.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(0.7px);
    pointer-events: none;
}