*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#12664f,#5eb1bf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.clock{
    
    box-shadow: 1px 1px 3px red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1em 0.5em;
    margin-bottom: 2em;
    
}



.timerNumber{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    margin-bottom: 0.3em;
    border-radius: 20px;
    text-shadow:  1px 1px 3px red;
   
   
    
}

button{
    padding: 0.5rem 3rem;
    border: none;
    background-color: inherit;
    box-shadow: 1px 1px 3px red;
    border-radius: 20px;
    cursor: pointer;
    
    
}

button:hover {
    transform: scale(1.2);
  }



.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(0.7px);
    pointer-events: none;
}


.settings{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
}

.settingsIcon{
    fill: black;
    background: #5eb1bf;
    width: 1em;
    height: auto;
    
}


.taskList{
    margin-bottom: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.taskList li {
    margin-bottom: 0.5em;

}

.taskList li:hover{
    transform: scale(1.1);
}

